.que.filedepot textarea.qtype_filedepot_response {
    width: 100%;
}
.que.filedepot textarea.qtype_filedepot_response.qtype_filedepot_plain {
    white-space: pre-wrap;
    font: inherit;
}
.que.filedepot textarea.qtype_filedepot_response.qtype_filedepot_monospaced {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}
.que.filedepot .qtype_filedepot_response {
    min-height: 3em;
}
.que.filedepot .qtype_filedepot_response.readonly {
    background-color: white;
}
.que.filedepot div.qtype_filedepot_response textarea {
    width: 100%;
}
